# ignore everything in data
data/*
!data/.gitkeep

# ignore everything in bhvr
!data/bhvr
data/bhvr/*
!data/bhvr/.gitkeep

# ignore everything in masks
masks/*
!masks/.gitkeep

# ignore everyting in sid_tcs
sid_tcs/*
!sid_tcs/.gitkeep
